doctype html5
html(lan='es')
  head
    title= title
    meta(meta charset='utf8')
    meta(meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel='stylesheet', href='/css/icon-moon.css')
    link(rel='stylesheet', href='/css/normalize-v3-0-0.css')   
    link(rel='stylesheet', href='/css/index.css')
    script(src="/socket.io/socket.io.js", type="text/javascript")
    script(src='/vendor/jquery_v1.11.0.js', type='text/javascript')
body
  block content  
  footer
    ul
      li
          spa.icon-house
          a(href="/") Inicio
      li
          span.icon-video
          a(href="/videotutoriales") Videotutoriales
      li
          span.icon-text
          a(href="/tutoriales") Tutoriales
      li
          span.icon-docs
          a Guias
      if(data)
          li
              span.icon-cross3
              a(href="/logout") Salir    
    p CDW Comunidad de Desarrolladores Web, 
      strong Haciendo Un Mejor Mundo

  script(src="/js/index.js", type="text/javascript")