*:focus {outline: none;}
body{
	background: #f1f1f1;
	font-size: 1em;
	margin: 0;
	padding: 0;
}
header{
	background: #fff;
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 20px;
	padding-top: 20px;
	border-bottom: 1px solid #ccc;	
}
a{
	color: #000;
	text-decoration: none;
}
input{
	border-radius:4px 4px 4px 4px;
	border:1px solid #bfbfbf;
	box-shadow:1px 1px 5px #eee inset;
	color:#5e5e5e;
	line-height:30px;
	margin:.2em;
	padding: .5em;
	width:99.5%;
}
.boton{
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	background-color:#FF002B;
	border-radius:5px;
	border:1px solid #FF274B;
	color:#ffffff;
	cursor:pointer;	
	font-family:arial;
	font-size:17px;
	padding:5px 5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;	
}
.boton:hover {
	background-color:#FF274B;
	text-decoration: none;
}
.boton:active {
	position:relative;
	top:1px;
}
.busqueda-principal{
	text-align: center;
}
.busqueda-principal label{
	border-right: 0;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 2px #eee;
	padding: .3em;
	position: relative;
}
.busqueda-principal label span{
	background: #f1f1f1;
	border: 1px solid #ccc;	
	cursor: pointer;
	padding: 4 15 7 15;
	position: absolute;
	right: -1px;
	text-align: center;
	top: -1px;
}
.busqueda-principal label span:hover{
	background: #E3E1E3;
}
.busqueda-principal label input[type='text']{
	background: transparent;
	border: 0;
	box-shadow: 0px 0px 0px 0px transparent;
	display: inline-block;
	font-size: 16px;
	line-height: normal;
	margin: 0;
	outline: none;
	padding: 2px 6px;
	width: 70%;
}
.display-block{
	display: block;
}
.display-none{
	display: none;
}
.editar_pefil{
	background: #fff;	
	margin: 0 auto;
	margin-top: .8em;
	padding: .5em;
	text-align: center;
	width: 80%;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #888;
}
.editar_pefil article form button{
	margin-left: .8em;
	margin-top: .8em;
}
.editar_pefil article form img{
	background: #f1f1f1;
	border-radius: 100px;
	height: 182px;
	width: 182px;
}
.error-index{
	background-color:#000;
	filter:alpha(opacity=75);
	height:100%;
	left:0px;
	opacity: .75;
	position:fixed;
	top:0px;	
	width:100%;
	z-index:4;
}
.error-index div{
	background: red;
	border-radius: 5px;
	color: #fff;
	margin: 0 auto;
	margin-top: 300px;	
	padding: .7em;
	position: relative;
	text-align: center;
	width: 70%;
}
.error-index div span{
	position: absolute;	
	right: 3px;
	top: 1.5px;
}
.error-index div span:hover{
	color:#0ad;
	cursor: pointer;
}
.iniciar_sesion{
	margin-top: 14px;
	text-align: center;
	width: 100%;
}
.logo-container{
	font-size: 30px;
	left: 4px;
	position: absolute;
	top: 57px;
}
.menu{
	border: 1px solid transparent;
	cursor: pointer;
	padding-bottom: 2px;
}
.menu span{
	display: inline-block;
	vertical-align: middle;	
}
.menu .icon-arrow-down42{
	font-size: .7em;
}
.menu:hover{
	background: #f1f1f1;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 2px #eee;	
}
.menu-lista{
	background: #fff;
	border-bottom:  1px solid #ccc;
	box-shadow: inset 0 1px 2px #eee;	
	position: absolute;
	top: 81.5px;
	width: 150px;
	z-index: 1;
}
.menu-lista li{
	display: inline-block;
	margin-bottom: .2em;
	margin-top: .2em;
	padding: .2em;
	width: 90%;	
}
.menu-lista li a{
	padding: .5em;
}
.menu-lista li:hover{
	background: #0ad;
	border-radius: 5px;
	color: #fff!important;
	cursor: pointer;
}
.menu-lista li:hover > a{color: #fff;}
.menu-lista .separador{
	border-top: 1px solid #ccc;
	background: transparent!important;
}
.user{	
	margin-left: 40px;
	margin-top: .4em;
	text-align: right;
	width: 70%;
}
.user a{
	display: inline-block;;
	vertical-align: middle;
	margin-right: .2em;
}
.user a:hover{
	color: red;
	cursor: pointer;
}
.user img{
	background: #f1f1f1;
	border-radius: 50px;
	height: 50px;
	width: 50px;
}
@media screen and (min-width: 500px){
	header div{
		display: inline-block;
		vertical-align: bottom;
	}
	.busqueda-principal{
		margin-left: 38px;
		width: 60%;
	}
	.editar_pefil{
		width: 90%;
	}
	.editar_pefil article{
		display: inline-block;
		vertical-align: bottom;
		width: 400px;
	}
	.editar_pefil article:nth-child(2){
		margin-left: .8em;
	}
	.editar_pefil article form button:nth-child(4){
		margin-left: .8em;		
	}
	.logo-container{		
		margin-left: .3em;
		top: 19px;
		width: 100px;
	}
	.menu-lista{
		top: 47.5px;
	}
	.busqueda-principal label span {		
		right: inherit;
		top: -1px;
		bottom: -1px;
	}
	.iniciar_sesion{
		margin: 0px;
		width: 80px;
	}
	.user{
		margin: 0;
		margin-bottom: -10;
		margin-top: -12;		
		width: 142px;
	}
}
@media screen and (min-width: 600px){
	.busqueda-principal{
		width: 70%;
	}
}